.add_button_container {
    background-color: #DEDEDE;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 0;
    width: max-content;
    height: max-content;
    padding: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 10px 3px rgb(85 85 85 / 28%);
    -webkit-box-shadow: 3px 3px 10px 3px rgb(85 85 85 / 28%);
    -moz-box-shadow: 3px 3px 10px 3px rgb(85 85 85 / 28%);
    transition: 0.2s linear;
    border: 1px solid #DEDEDE;
    &:hover {
        box-shadow: 3px 3px 10px 3px rgb(85 85 85 / 37%);
        -webkit-box-shadow: 3px 3px 10px 3px rgb(85 85 85 / 37%);
        -moz-box-shadow: 3px 3px 10px 3px rgb(85 85 85 / 37%);
    }
}