.modalChannelsContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    padding: 15px;
    min-width: 450px;
    min-height: 500px;
    height: max-content;
    overflow: auto;
    border-radius: 5px;
    .modalChannelsTitle {
      padding-bottom: 15px;
      text-align: center;
    }
    .contentContainer {
      height: auto;
      display: flex;
      flex-direction: column;
      .noChannelsDeactivateText {
        text-align: center;
      }
      .peaceIcon {
        max-width: 100px;
        align-self: center;
      }
    }
  }
  .activeModalChannelsContainer {
    animation: opacityEaseIn 0.5s ease-in;
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }
  .overlayModalChannelsContainer {
    background-color: #00000057;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }
  .activeOverlayModalChannelsContainer {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  
  
  // Animation For Opacity Ease In smooth modal opener
  @keyframes opacityEaseIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }