.bottom_element_container {
    display: flex;
    // border: 1px solid #939393;
    border-radius: 4px;
    padding: 5px;
    color: #939393;
    margin-bottom: 15px;
    box-shadow: 0px 4px 11px 1px rgb(85 85 85 / 17%);
    -webkit-box-shadow: 0px 4px 11px 1px rgb(85 85 85 / 17%);
    -moz-box-shadow: 0px 4px 11px 1px rgb(85 85 85 / 17%);
}
.id_input_element {
    display: flex;
    align-items: center;
    flex: 1;
}
.input_element {
    display: flex;
    align-items: center;
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
}
.input_title {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
}
.input {
    width: 80px;
    padding: 5px;
    color: #939393;
    text-align: end;
    background-color: #ffffff;
    border: 1px solid #dedede;
}
.remove_button_container {
    padding: 7px;
}
.remove_button {
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background-color: #797979;
    cursor: pointer;
}

