.bottomElementContainer {
    display: flex;
    border-radius: 4px;
    padding: 5px;
    padding-right: 10px;
    color: #939393;
    margin-bottom: 15px;
    box-shadow: 0px 4px 11px 1px rgb(85 85 85 / 17%);
    -webkit-box-shadow: 0px 4px 11px 1px rgb(85 85 85 / 17%);
    -moz-box-shadow: 0px 4px 11px 1px rgb(85 85 85 / 17%);
    border: 1px solid #DEDEDE;
    .idInputElement {
        display: flex;
        align-items: center;
        flex: 1;
    }
    .inputElement {
        display: flex;
        align-items: center;
        width: max-content;
        padding-left: 5px;
        padding-right: 5px;
        .inputSymbol {
            position: relative;
            &::after {
                content: "%";
                position: absolute;
                right: 5px;
                color: #939393;
                width: 10px;
                font-size: 13px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .inputTitle {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 13px;

    }
    .input {
        width: 85px;
        padding: 5px;
        padding-right: 15px;
        color: #939393;
        text-align: end;
        background-color: #ffffff;
        border: 1px solid #dedede;
    }
    .removeButtonContainer {
        padding: 7px;
        .removeButton {
            display: flex;
            padding: 5px;
            border-radius: 50%;
            background-color: #797979;
            cursor: pointer;
        }
    }
}







